.App {
  text-align: center;
  overflow: hidden;
  .Content {
    padding: 5px;
  }
  .logo svg {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 60%;
    margin-left: -30%;
    width: 60%;
    margin-top: -30%;
    opacity: 0.9;
  }
}

// Mobile

.App {
  .logo svg {
    @media(min-width: 768px) {
      top: 55%;
      left: 75%;
      height: 50%;
      margin-top: -25%;
    }
    @media(min-width: 1024px) {
      top: 75%;
    }
    @media(min-width: 1440px) {
      top: 80%;
      height: 60%;
    }
    @media(min-width: 2560px) {
      top: 115%;
      height: 80%;
    }
  }
}



